@import './node_modules/sass-true/sass/true';
@import '../../scss/generator';

$breakpoints-map: (
    'mittel': '60em',
    'gross': '75em'
);

$media-features: (
    'aspect-ratio',
    'prefers-reduced-motion',
    'width',
);

$my-options: (
    'breakpoints': $breakpoints-map,
    'breakpoint-modifier-divider': '\\:',
    'media-features': $media-features,
    'responsive-mode': 'leading',
    'prefix': ''
);

$svala-options: map-merge($svala-default-options, $my-options);

@include describe('Test breakpoints without an explicit media-feature (should default to min-width)') {
    @include it('Generate utility classes with min-width breakpoints') {
        @include assert {
            @include output($selector: false) {
                @include generator((
                    'text': (
                        'property': 'text-transform',
                        'values': ('uppercase'),
                        'responsive': true
                    )
                ));
            }

            @include expect($selector: false) {
                .text-uppercase {
                    text-transform: uppercase;
                }

                @media (min-width: 60em) {
                    .mittel\:text-uppercase {
                        text-transform: uppercase;
                    }
                }

                @media (min-width: 75em) {
                    .gross\:text-uppercase {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
