@use 'sass:map';
@use 'node_modules/sass-true' as *;
@use '../../scss/generator' as *;

$svala-options: () !default;

@include describe('Test breakpoints with and without media-features, string values and parentheses') {
    @include it('Generate utility classes with correct media queries regardless of input') {
        @include assert {
            @include output($selector: false) {
                @include generator((
                    'origin': (
                        'property': 'transform-origin',
                        'values': center,
                        'responsive': true
                    )
                ));
            }

            @include expect($selector: false) {
                .origin-center {
                    transform-origin: center;
                }

                @media (prefers-reduced-motion: reduce) {
                    .no-motion\:origin-center {
                        transform-origin: center;
                    }
                }

                @media (max-width: 30em) {
                    .tiny-bear\:origin-center {
                        transform-origin: center;
                    }
                }

                @media (min-width: 30em) {
                    .small-bear\:origin-center {
                        transform-origin: center;
                    }
                }

                @media (min-width: 90em) {
                    .big-bear\:origin-center {
                        transform-origin: center;
                    }
                }

                @media (min-width: 30em) and (max-width: 90em) {
                    .between-small-and-big-bear\:origin-center {
                        transform-origin: center;
                    }
                }
            }
        }
    }
}
