@use 'sass:map';
@use 'node_modules/sass-true' as *;
@use '../../scss/generator' as *;

$svala-options: () !default;

@include describe('Test breakpoints without an explicit media-feature (should default to min-width)') {
    @include it('Generate utility classes with min-width breakpoints') {
        @include assert {
            @include output($selector: false) {
                @include generator((
                    'text': (
                        'property': 'text-transform',
                        'values': ('uppercase'),
                        'responsive': true
                    )
                ));
            }

            @include expect($selector: false) {
                .text-uppercase {
                    text-transform: uppercase;
                }

                @media (min-width: 60em) {
                    .mittel\:text-uppercase {
                        text-transform: uppercase;
                    }
                }

                @media (min-width: 75em) {
                    .gross\:text-uppercase {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
