@use 'sass:map';
@use 'node_modules/sass-true' as *;
@use '../../scss/generator' as *;

$svala-options: () !default;

@include describe('Test breakpoints with explicit media-features') {
    @include it('Generate utility classes with explicit media features like "max-width", "aspect-ratio", "prefers-reduced-motion"') {
        @include assert {
            @include output($selector: false) {
                @include generator((
                    'text': (
                        'property': 'text-transform',
                        'values': ('no-transform': 'none'),
                        'responsive': true
                    )
                ));
            }

            @include expect($selector: false) {
                .text-no-transform {
                    text-transform: none;
                }

                @media (aspect-ratio: 16 / 9) {
                    .aspect-ratio-16\:9\:text-no-transform {
                        text-transform: none;
                    }
                }

                @media (prefers-reduced-motion: no-preference) {
                    .motion-allowed\:text-no-transform {
                        text-transform: none;
                    }
                }

                @media (max-width: 768px) {
                    .md-max\:text-no-transform {
                        text-transform: none;
                    }
                }

                @media (min-width: 768px) and (max-width: 1280px) {
                    .md-to-lg\:text-no-transform {
                        text-transform: none;
                    }
                }
            }
        }
    }
}
