@use 'sass:map';
@use 'node_modules/sass-true' as *;
@use '../../scss/config/default-options' as *;
@use '../../scss/generator' as *;

$breakpoints-map: (
    'aspect-ratio-16\\:9': 'aspect-ratio: 16/9',
    'motion-allowed': 'prefers-reduced-motion: no-preference',
    'md-max': 'max-width: 768px',
    'md-to-lg': '(min-width: 768px) and (max-width: 1280px)',
);

$media-features: (
    'aspect-ratio',
    'prefers-reduced-motion',
    'width',
);

$my-options: (
    'breakpoints': $breakpoints-map,
    'breakpoint-modifier-divider': '\\:',
    'media-features': $media-features,
    'responsive-mode': 'leading',
    'prefix': ''
);

$svala-options: map.merge($svala-default-options, $my-options);

@include describe('Test breakpoints with explicit media-features') {
    @include it('Generate utility classes with explicit media features like "max-width", "aspect-ratio", "prefers-reduced-motion"') {
        @include assert {
            @include output($selector: false) {
                @include generator((
                    'text': (
                        'property': 'text-transform',
                        'values': ('no-transform': 'none'),
                        'responsive': true
                    )
                ));
            }

            @include expect($selector: false) {
                .text-no-transform {
                    text-transform: none;
                }

                @media (aspect-ratio: 16 / 9) {
                    .aspect-ratio-16\:9\:text-no-transform {
                        text-transform: none;
                    }
                }

                @media (prefers-reduced-motion: no-preference) {
                    .motion-allowed\:text-no-transform {
                        text-transform: none;
                    }
                }

                @media (max-width: 768px) {
                    .md-max\:text-no-transform {
                        text-transform: none;
                    }
                }

                @media (min-width: 768px) and (max-width: 1280px) {
                    .md-to-lg\:text-no-transform {
                        text-transform: none;
                    }
                }
            }
        }
    }
}
