@use 'sass:map';
@use 'node_modules/sass-true' as *;
@use '../../scss/generator' as *;

$svala-options: () !default;

@include describe('Test custom prefix') {
    @include it('Generate a single utility class with a custom global prefix') {
        @include assert {
            @include output($selector: false) {
                @include generator((
                    'float-right': (
                        'property': 'float',
                        'value': 'right'
                    )
                ));
            }

            @include expect($selector: false) {
                .yolo-float-right {
                    float: right;
                }
            }
        }
    }

    @include it('Generate a single utility class with a custom local prefix') {
        @include assert {
            @include output($selector: false) {
                @include generator((
                    'clearfix': (
                        'property': 'clear',
                        'value': 'both',
                        'prefix': 'o'
                    )
                ));
            }

            @include expect($selector: false) {
                .o-clearfix {
                    clear: both;
                }
            }
        }
    }
}
