@use 'sass:map';
@use 'node_modules/sass-true' as *;
@use '../../scss/config/default-options' as *;
@use '../../scss/generator' as *;

$my-options: (
    'prefix': ''
);

$svala-options: map.merge($svala-default-options, $my-options);

@include describe('Test with !important') {
    @include it('Generate a single utility class with !important') {
        @include assert {
            @include output($selector: false) {
                @include generator((
                    'clear-left': (
                        'property': 'clear',
                        'value': 'left',
                        'important': true
                    )
                ));
            }

            @include expect($selector: false) {
                .clear-left {
                    clear: left !important;
                }
            }
        }
    }
}
