@import './node_modules/sass-true/sass/true';
@import '../../scss/generator';

$my-options: (
    'prefix': ''
);

$svala-options: map-merge($svala-default-options, $my-options);

@include describe('Test without prefix') {
    @include it('Generate a single utility class without a prefix') {
        @include assert {
            @include output($selector: false) {
                @include generator((
                    'float-left': (
                        'property': 'float',
                        'value': 'left'
                    )
                ));
            }

            @include expect($selector: false) {
                .float-left {
                    float: left;
                }
            }
        }
    }
}
