@use 'sass:map';
@use 'node_modules/sass-true' as *;
@use '../../scss/generator' as *;

$svala-options: () !default;

@include describe('Test responsive mode with a single breakpoint') {
    @include it('Generate utility classes with only one media query') {
        @include assert {
            @include output($selector: false) {
                @include generator((
                    'origin': (
                        'property': 'transform-origin',
                        'values': top,
                        'responsive': true
                    )
                ));
            }

            @include expect($selector: false) {
                .origin-top {
                    transform-origin: top;
                }

                @media (min-width: 36em) {
                    .navigation-switch\:origin-top {
                        transform-origin: top;
                    }
                }
            }
        }
    }
}
