@use 'sass:map';
@use 'node_modules/sass-true' as *;
@use '../../scss/generator' as *;

$svala-options: () !default;

$colors-map: (
    'aubergine': '#3b0910',
    'seashell': '#f1f1f1'
);

@include describe('Test generator with a config map containing a property and a list of values') {
    @include it('Generate three utility classes (one for each list-item in values)') {
        @include assert {
            @include output($selector: false) {
                @include generator((
                    'ai': (
                        'property': 'align-items',
                        'values': flex-start flex-end center
                    )
                ));
            }

            @include expect($selector: false) {
                .u-ai-flex-start {
                    align-items: flex-start;
                }

                .u-ai-flex-end {
                    align-items: flex-end;
                }

                .u-ai-center {
                    align-items: center;
                }
            }
        }
    }

    @include it('Generate three utility classes (one for each list-item in values) and their responsive variants') {
        @include assert {
            @include output($selector: false) {
                @include generator((
                    'align-items': (
                        'property': 'align-items',
                        'values': flex-start flex-end center,
                        'responsive': true
                    )
                ));
            }

            @include expect($selector: false) {
                .u-align-items-flex-start {
                    align-items: flex-start;
                }

                .u-align-items-flex-end {
                    align-items: flex-end;
                }

                .u-align-items-center {
                    align-items: center;
                }

                @media (min-width: 768px) {
                    .u-align-items-flex-start\@tablet {
                        align-items: flex-start;
                    }

                    .u-align-items-flex-end\@tablet {
                        align-items: flex-end;
                    }

                    .u-align-items-center\@tablet {
                        align-items: center;
                    }
                }

                @media (min-width: 1280px) {
                    .u-align-items-flex-start\@desktop {
                        align-items: flex-start;
                    }

                    .u-align-items-flex-end\@desktop {
                        align-items: flex-end;
                    }

                    .u-align-items-center\@desktop {
                        align-items: center;
                    }
                }
            }
        }
    }

    @include it('Generate two utility classes (one for each key,value pair in the map of values) as well as two additional states for each') {
        @include assert {
            @include output($selector: false) {
                @include generator((
                    'bg': (
                        'property': 'background-color',
                        'values': $colors-map,
                        'states': ('hover', 'focus')
                    )
                ));
            }

            @include expect($selector: false) {
                .u-bg-aubergine {
                    background-color: #3b0910;
                }

                .u-bg-aubergine\@hover:hover {
                    background-color: #3b0910;
                }

                .u-bg-aubergine\@focus:focus {
                    background-color: #3b0910;
                }

                .u-bg-seashell {
                    background-color: #f1f1f1;
                }

                .u-bg-seashell\@hover:hover {
                    background-color: #f1f1f1;
                }

                .u-bg-seashell\@focus:focus {
                    background-color: #f1f1f1;
                }
            }
        }
    }
}
