@use 'sass:map';
@use 'node_modules/sass-true' as *;
@use '../../scss/config/default-options' as *;
@use '../../scss/generator' as *;

$breakpoints-map: (
    'tablet': 'min-width: 768px',
    'desktop': 'min-width: 1280px'
);

$media-features: (
    'aspect-ratio',
    'prefers-reduced-motion',
    'width',
);

$my-options: (
    'breakpoints': $breakpoints-map,
    'media-features': $media-features,
);

$svala-options: map.merge($svala-default-options, $my-options);

$spacings-map: (
       '': '1rem',
    '300': '0.75rem',
    '400': '1rem'
);

@include describe('Test generator with a config map containing a property, an axis map, a values map and a generic default value') {
    @include it('Generate eight utility classes (two classes without a value as part of the selector as well as one class for each item and each axis)') {
        @include assert {
            @include output($selector: false) {
                @include generator((
                    'margin': (
                        'property': 'margin',
                        'axes': block-start block-end,
                        'values': $spacings-map
                    )
                ));
            }

            @include expect($selector: false) {
                .u-margin {
                    margin: 1rem;
                }

                .u-margin-300 {
                    margin: 0.75rem;
                }

                .u-margin-400 {
                    margin: 1rem;
                }

                .u-margin-block-start {
                    margin-block-start: 1rem;
                }

                .u-margin-block-start-300 {
                    margin-block-start: 0.75rem;
                }

                .u-margin-block-start-400 {
                    margin-block-start: 1rem;
                }

                .u-margin-block-end {
                    margin-block-end: 1rem;
                }

                .u-margin-block-end-300 {
                    margin-block-end: 0.75rem;
                }

                .u-margin-block-end-400 {
                    margin-block-end: 1rem;
                }
            }
        }
    }
}
