@use 'node_modules/sass-true' as *;
@use '../../scss/generator' as *;

$svala-options: () !default;

@include describe('Test generator with a config where items are the base selector') {
    @include it('Generate two utility classes (one for each item in items)') {
        @include assert {
            @include output($selector: false) {
                @include generator((
                    'USE_VALUES': (
                        'property': 'font-weight',
                        'values': ('bold': 700, 'regular': 400)
                    )
                ));
            }

            @include expect($selector: false) {
                .u-bold {
                    font-weight: 700;
                }

                .u-regular {
                    font-weight: 400;
                }
            }
        }
    }
}
