@use 'node_modules/sass-true' as *;
@use '../../scss/helpers/selector-transformers' as *;

$svala-options: () !default;

$selector: 'u-margin';
$axis: ('inline-start', 'inline-end');

@include describe('getAxifiedSelector() function') {
    @include it('Concatenates the axis-modifier and -divider to the selector') {
        @each $axis-modifier in $axis {
            @include assert-equal(
                getAxifiedSelector($svala-options, $selector, $axis-modifier),
                #{'u-margin-' + $axis-modifier}
            )
        }
    }
}
